body {
    background: url('498921.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: #FFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 60%;
    background: rgba(255, 255, 255, 0.1);  /* Light white color, lower opacity for transparency */
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

header {
    text-align: center;
}

h1, h2 {
    color: #FFFFFF;  /* Light natural tone */
}

main {
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);  /* White color with more transparency for a glass effect */
    color: #FFF;  /* White text */
    text-decoration: none;
    padding: 10px 20px;
    margin: 15px 20px;  /* Increase margin for more space */
    border-radius: 4px;
    transition: background-color 0.5s ease, transform 0.5s ease;  /* Longer transition for more prominent hover effect */
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.3);  /* Lighter white on hover */
    transform: scale(1.1);  /* Increase size on hover for more prominent effect */
}

ul, ol {
    color: #EEE8AA;  /* Light natural tone */
    list-style-type: none; 
    padding: 0;
}

code {
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.scrolling-list {
    max-height: 400px;
    overflow-y: scroll;
    border-radius: 10px;
    border: 1px solid #EEE8AA;  /* Light natural tone border */
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);  /* Light white color, lower opacity for transparency */
    color: #EEE8AA;  /* Light natural tone */
}

.compact-list {
    padding-left: 20px; /* Increase or decrease as needed */
    list-style-type: none; /* Removes bullet points */
    line-height: 1.5; /* Adjusts space between lines */
}

.scrolling-list::-webkit-scrollbar {
    width: 8px;
}

.scrolling-list::-webkit-scrollbar-thumb {
    background: #EEE8AA;  /* Light natural tone scrollbar */
}

.scrolling-list::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);  /* Light white color, lower opacity for transparency */
}
